.results {
    margin-top : 40px;
}

.community {

    text-align : center;
    align-items: center;
    margin: 0 auto 10px;
}

.logo {
    width: 20%!important;
    align-self: center;
    margin : 15px;
}

.card-body {
    padding-top : 0px!important;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
